# Dependencies
node_modules/
**/node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
.project
.classpath
.settings/
*.class